<!DOCTYPE html>
<html>
  <head>
    <title> PLOT</title>
    <style>
    #logo
    {
      background-color: #3b5998;
      color:white;
      text-align: center;

    }

    #requ
    {
    width:300px;
    margin:0 auto;
    }
    </style>
  </head>
  <body>
    <div id= "logo">
      <h1 >Type your request</h1>
    </div>
  <div id= 'requ'>
    <form method="POST">

    <input name="text">

    <input type="submit">
  </div>

</form>
<br/>
<p align ='center'> It can take several minutes. Please wait.</p>


</body>

</html>
